<%- include("layout/header") -%>

<div class="adminpanel">
    <button onclick="window.location.href='/admin/admin-users'">تعيين حساب</button>
    <button onclick="window.location.href='/admin/doctor-category'">تخصصات الاطباء</button>
    <button onclick="window.location.href='/admin/doctors'">قائمة الاطباء</button>
    <button onclick="window.location.href='/admin/pharmacy'">قائمة الصيادلة</button>
    <button onclick="window.location.href='/admin/info'">قائمة الاستعلامات</button>
    <button onclick="window.location.href='/admin/lab'">قائمة العاملين بالمختبر</button>
    <button onclick="window.location.href='/admin/secretary'">قائمة السكرتير</button>
</div>

<%- include("layout/footer") -%>