<%- include("layout/header") -%>

<center><form class="admin-sec-register" action="/admin/secretary/<%= data.id%>/register" method="POST">
        <div>
            <label for="">الاسم</label>
            <input type="text" name="name" value="">
        <br>
            <label for="">تاريخ الولادة</label>
            <input type="date" name="age" value="">
        <br>
            <label for="">البريد الالكتروني</label>
            <input type="email" name="email">
        <br>

            <label for="">اسم الطبيب</label>
            <input type="text" value="<%= data.name%>" class="doctor-name" name="doctor" disabled>
        <br>
            <label for="">الرمز السري</label>
            <input type="password" name="password">
        <br>
        <button type="submit">أدخال المعلومات</button>
        </div>
    </form></center>

<%- include("layout/footer") -%>