<%- include("layout/header") -%>

<center><div class="doctor-enter-code">
    <div>
            <label for="">ادخل كود المريض</label>
            <input type="text" id="doctor-code" name="name">
        <br>
        <button onclick="DoctorCode()">عرض المعلومات</button>
</div></center>

<script>
    function DoctorCode(){
        var x = document.getElementById("doctor-code").value
        window.location.href = "/doctor/data/" + x
    }
</script>

<%- include("layout/footer") -%>