<%- include("layout/header") -%>

<div class="info">
    <button onclick="window.location.href='/info/add-user'">اضافة مريض</button>
    <button onclick="window.location.href='/info/users'">اعدادات حسابات المرضى</button>
    <button onclick="window.location.href='/info/find'">استعادة حساب مريض</button>
    <button>سجل الحجوزات للمريض</button>
</div>

<%- include("layout/footer") -%>