<%- include("layout/header") -%>

<center><div class="lab-enter-code">
    <div>
            <label for="">ادخل كود المريض</label>
            <input type="text" id="lab-code" name="name">
        <br>
        <button onclick="labCode()">عرض المعلومات</button>
</div></center>

<script>
    function labCode(){
        var x = document.getElementById("lab-code").value
        window.location.href = "/lab/data/" + x
    }
</script>

<%- include("layout/footer") -%>