<%- include("layout/header") -%>

<div class="lab">
    <button onclick="window.location.href='/lab/data'">الفحوصات المطلوبة</button>
    <button onclick="window.location.href='/pharmacy/category'">الفحوصات المكتملة</button>
    <button onclick="window.location.href='/lab/code'">معلومات المريض</button>
</div>



<%- include("layout/footer") -%>