<%- include("layout/header") -%>

<div class="pharmacy">
    <button onclick="window.location.href='/pharmacy/data'">وصفة المريض</button>
    <button onclick="window.location.href='/pharmacy/category'">اقسام الادوية</button>
    <button onclick="window.location.href='/pharmacy/drugs/add'">اضافة ادوية</button>
    <button onclick="window.location.href='/pharmacy/drugs'">جميع الادوية</button>
    <button onclick="window.location.href='/pharmacy/drugs/less'">الاقل كمية</button>
    <button onclick="window.location.href='/pharmacy/drugs/expire'">الادوية الاقرب لانتهاء الصلاحية</button>
</div>



<%- include("layout/footer") -%>