<%- include("layout/header") -%>

<center><div class="pharmacy-addcat">
    <form action="/pharmacy/category/addcat" method="POST">
        <div>
            <label for="">ادخل اسم القسم</label>
            <input type="text" name="name" value="">
        <br>
        <button type="submit">اضافة القسم</button>
        </div>
    </form>
</div></center>

<%- include("layout/footer") -%>