<%- include("layout/header") -%>

<div class="login-secretary">
    <center><form action="/secretary/login" method="POST">
        <div>
        <br>
            <label for="">البريد الالكتروني</label>
            <input type="email" name="email" value="">
        <br>
            <label for="">الرمز السري</label>
            <input type="password" name="password" value="">
        <br>
        <button type="submit">تسجيل دخول</button>
        </div>
    </form></center>
</div>

<%- include("layout/footer") -%>