<%- include("layout/header") -%>

<form action="/secretary/orders/new" class="secretary-new-order" method="POST">
        <div>
            <label for="">كود المريض</label>
            <br>
            <input type="text" name="code" value="">
        <br>
            <label for="">موعد الحجز</label>
            <br>
            <input type="date" name="date" value="">
        <br>
        <br>
        <button type="submit" class="btn btn-success">تثبيت الحجز</button>
        </div>
    </form>

<%- include("layout/footer") -%>